@model LoginViewModel
@{
    ViewData["Title"] = "Giriş";
}
<div class="login-page d-flex align-items-center justify-content-center">
    <main class="form-signin shadow rounded p-4 bg-white">
        <form asp-action="SignIn">
            <h1 class="h3 mb-3 fw-bold text-center">Giriş Yap</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">E-mail</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Parola</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check text-start mb-3">
                <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Beni Hatırla
                </label>
            </div>

            <input type="hidden" asp-for="ReturnUrl" value="@Context.Request.Query["ReturnUrl"]" />
            <button class="w-100 btn btn-lg btn-warning" type="submit">Giriş yap</button>
        </form>
    </main>
</div>
